<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
	<httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
    </system.webServer>

 <system.webServer>
    <security>
      <requestFiltering>
        <!-- Este valor es en bytes. Aquí: 1 GB -->
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
