<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <authentication mode="Forms"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="200000"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WebConfiguration" maxBufferSize="65536" maxReceivedMessageSize="20971520" transferMode="Streamed"/>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="USS.ArcCentral.Presentacion.Forms.srvPersonaAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="USS.ArcCentral.Presentacion.Forms.srvMenuAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="USS.ArcCentral.Presentacion.Forms.srvUOAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="USS.ArcCentral.Presentacion.Forms.srvInterfaceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="USS.ArcCentral.Presentacion.Forms.srvGeneralAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="USS.ArcCentral.Presentacion.Forms.srvPersona">
        <endpoint address="" behaviorConfiguration="USS.ArcCentral.Presentacion.Forms.srvPersonaAspNetAjaxBehavior" binding="webHttpBinding" contract="USS.ArcCentral.Presentacion.Forms.srvPersona"/>
      </service>
      <service name="USS.ArcCentral.Presentacion.Forms.srvMenu">
        <endpoint address="" behaviorConfiguration="USS.ArcCentral.Presentacion.Forms.srvMenuAspNetAjaxBehavior" binding="webHttpBinding" contract="USS.ArcCentral.Presentacion.Forms.srvMenu"/>
      </service>
      <service name="USS.ArcCentral.Presentacion.Forms.srvUO">
        <endpoint address="" behaviorConfiguration="USS.ArcCentral.Presentacion.Forms.srvUOAspNetAjaxBehavior" binding="webHttpBinding" contract="USS.ArcCentral.Presentacion.Forms.srvUO"/>
      </service>
      <service name="USS.ArcCentral.Presentacion.Forms.srvInterface">
        <endpoint address="" behaviorConfiguration="USS.ArcCentral.Presentacion.Forms.srvInterfaceAspNetAjaxBehavior" binding="webHttpBinding" contract="USS.ArcCentral.Presentacion.Forms.srvInterface"/>
      </service>
      <service name="USS.ArcCentral.Presentacion.Forms.srvGeneral">
        <endpoint address="" behaviorConfiguration="USS.ArcCentral.Presentacion.Forms.srvGeneralAspNetAjaxBehavior" binding="webHttpBinding" contract="USS.ArcCentral.Presentacion.Forms.srvGeneral"/>
      </service>
    </services>
  </system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
