<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!--Forms Authentication-->
	<system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <authentication mode="Forms"/>
    <httpRuntime targetFramework="4.8" maxRequestLength="200000"/>
  </system.web>
	
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WebConfiguration" maxBufferSize="65536" maxReceivedMessageSize="20971520" transferMode="Streamed"/>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="USS.ArcCentral.Presentacion.Services.srvPersonaAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="USS.ArcCentral.Presentacion.Services.srvGeneralAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    
	  <services>
      <service name="USS.ArcCentral.Presentacion.Services.srvPersona">
        <endpoint address="" behaviorConfiguration="USS.ArcCentral.Presentacion.Services.srvPersonaAspNetAjaxBehavior" binding="webHttpBinding" contract="USS.ArcCentral.Presentacion.Services.srvPersona"/>
      </service>
      <service name="USS.ArcCentral.Presentacion.Services.srvGeneral">
        <endpoint address="" behaviorConfiguration="USS.ArcCentral.Presentacion.Services.srvGeneralAspNetAjaxBehavior" binding="webHttpBinding" contract="USS.ArcCentral.Presentacion.Services.srvGeneral"/>
      </service>
    </services>
	  
  </system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
